<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geekskool.dhobi" >

    <application
        android:allowBackup="true"
        android:name=".VipassanaApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name="com.geekskool.dhobi.Activities.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.geekskool.dhobi.Activities.StudentActivity" />
        <activity android:name="com.geekskool.dhobi.Activities.AddCourseActivity"
            android:theme="@style/DialogTheme"
            android:excludeFromRecents="true" />
        <activity android:name="com.geekskool.dhobi.Activities.PurchaseActivity" />
    </application>

</manifest>